

<form action="~/Home/Login" method="post">
    <p>UserName: </p><input type="text" name="UserName" /><br />
    <p>Password: </p><input type="text" name="Password" /><br />

    <input type="Submit" value="Login"/>
</form>