
<br />
<h1>Welcome! Enter your information: </h1>

<form action="~/Home/MakeNewUser" method="post">
    <p>UserName: </p><input type="text" name="UserName" /><br />
    <p>Password: </p><input type="text" name="Password" /><br />
    <p>Funds: </p><input type="number" name="Funds" />

    <input type="Submit" value="Register"/>
</form>